venv/
env/
*venv/
*env/

*.pyc
__pycache__/
*__pycache__/
*.env


mosaicmusic/app/static/upload_images/profile/*
!mosaicmusic/app/static/upload_images/profile/.gitkeep
mosaicmusic/app/static/upload_images/playlist/*
!mosaicmusic/app/static/upload_images/playlist/.gitkeep
instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/