{% extends '_base.html' %}
{% block content %}
<div class="d-flex flex-row">
    <div class="d-flex flex-row vw-100">
    {%include "_sidebar.html"%}
    <div class="d-flex flex-column p-3 w-50 vh-100 p-4">
        <h1 class="fw-bold mb-4">Edit Profile</h1>
        <form action="{{ url_for('profile.edit_profile', id=current_user.id) }}" method="post" enctype="multipart/form-data" class="d-flex flex-column px-4">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control bg-secondary border-black text-white" id="email" name="email" value="{{ current_user.email }}" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control bg-secondary border-black text-white" id="username" name="username" value="{{ current_user.username }}" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <input type="password" class="form-control bg-secondary border-black text-white" id="password" name="password" placeholder="Enter new password">
                <small class="text-muted">Leave blank if you do not want to change your password.</small>
            </div>
            <div class="mb-3">
                <label for="profile_picture" class="form-label">Profile Picture</label>
                <input type="file" class="form-control bg-secondary border-black" id="profile_picture" name="profile_picture" accept="image/*">
                {% if current_user.profile_picture %}
                    <img src="{{ url_for('static', filename='upload_images/' ~ current_user.profile_picture) }}" style="width: 200px; height: 200px;" class="img-thumbnail mt-2" alt="Current Profile Picture">
                {% endif %}
            </div>
            <button type="submit" class="btn btn-warning rounded-pill m-2">Update Profile</button>
        </form>
    </div>
</div>
{% endblock %}




