{% extends "_base.html" %} {%block content%}

<div class="d-flex flex-row">
  <div class="d-flex flex-row vw-100 ">
  {%include "_sidebar.html"%}

  <div class=" w-100">
    <div class="w-100 bg-black">
    <h1 class="fw-bold p-4">Home</h1>
  </div>

  <div class="p-4  ">
    <div class="m-4 w-100 col">
      <h4 class="p-2 fw-bold">Trending Albums</h4>
      <div class="W-75 d-flex flex-row overflow-x-auto overflow-y-hidden" style="width: 1000px;">
        <!-- render albums from the API chart list  -->
        {% for album in albums %}

        <div class="card d-flex flex-row bg-black col-sm-2 border m-2" style="height: 120px; width:260px">
          <div class="rounded"><img class="contain rounded  border-end" style="width: 118px"
              src="https://e-cdn-images.dzcdn.net/images/cover/{{album.md5_image}}/500x500-000000-80-0-0.jpg"></img>
          </div>
          <div class="p-2 text-white d-flex flex-column justify-content-between">
            <div class="fw-bold "><a class="link-light link-opacity-50-hover text-decoration-none "
                href="/api/album/{{album.id}}">{{album.title |truncate(15,'...')}}</a></div>
            <div class="fw-light "><a class="link-warning link-opacity-50-hover text-decoration-none"
                href="/api/artist/{{album.artist.id }}"
                style="font-size: medium;">{{album.artist.name|truncate(13,'...')}}</a></div>
            <div class="text-secondary">{{album.release_date.strftime("%b %d, %Y") }}</div>
          </div>
        </div>

        {% endfor %}

      </div>

    </div>
    <div class="m-4 w-100 col">
      <h4 class="p-2 fw-bold">Trending Artists</h4>
    <div class="d-flex flex-row overflow-x-auto" style="width: 1000px; height: 225px;">
{% for artist in artists[:8] %}
<div class="d-flex flex-column text-center">
      <div class="p-4" >
        <div class="bg-secondary border rounded overflow-hidden"
          style="height: 125px; width: 125px; transform: rotate(45deg);">
          <div class="" style="transform: rotate(-45deg);"> <a href="api/artist/{{artist.id}}"><img class="pb-5  mb-5 "
              src="{{artist.picture_medium}}" /></a>
          </div>
        </div>
      </div>
<a class="link-warning link-opacity-50-hover text-decoration-none" href="api/artist/{{artist.id}}">{{artist.name}}</a>
    </div>
      {%endfor %}
    </div>


<hr class="w-75">
  <div class="my-4 col">
   <div class=" d-flex flex-row "> <h4 class="p-2 fw-bold">Users</h4> <a href="/profiles/all" class="link-warning my-auto fw-light px-2">view all</a></div>
  <div class="d-flex flex-row overflow-x-auto" style="width: 900px; height: 225px;">
    <div class="d-flex flex-row">
      {% for user in getusers[:15] %}
    <div class="d-flex flex-column p-3">
      {% if user.profile_picture == "" %}
    <a href="/profiles/{{user.id}}"><img src="/static/upload_images/temp/blank-profile-picture.png" class="rounded bg-secondary border" style="height: 120px; width: 120px;"/></a>
    {% else %}
    <a href="/profiles/{{user.id}}"><img src="/static/upload_images/profile/{{user.profile_picture}}" class="rounded bg-secondary border" style="height: 120px; width: 120px;"/></a>
    {% endif %}
    
      <div class="fw-bold pt-1 flex-wrap" style="width: 120px;"><a class="link-light link-opacity-50-hover text-decoration-none " href="/profiles/{{user.id}}">{{user.username}}</a></div>

    </div>
    {% endfor %}
  </div>
</div>
  </div></div>
  </div>
</div>
</div>
</div>

{%endblock content%}