{% extends "_base.html" %} {%block content%}

<div class="d-flex flex-row">
  <div class="d-flex flex-row vw-100">
  {%include "_sidebar.html"%}
  <div class="w-100 ">
    <!-- album info section -->
    <div class="p-4 bg-black ">
     <div class="d-flex justify-content-between">
        <div class="d-flex flex-row">
      
          {% if playlist.picture == "" %}
          <img src="/static/upload_images/iphone.jpg" class="rounded bg-secondary border" style="height: 150px; width: 150px;"/>
          {% else %}
          <img src="/static/upload_images/{{playlist.picture}}" class="rounded bg-secondary border" style="height: 150px; width: 150px;"/>
          {% endif %}
          
      <div class="d-flex flex-column p-3">
        <div class="text-tertiary fw-light text-uppercase"></div>
        <h1 class="fw-bold">{{playlist.title}}</h1>
      <div class="fw-bold">by <a href="/profiles/{{playlist.creator.id}}"> {{playlist.creator.username}}</a> | {{playlist.tracks | count}} Tracks </div>
    <div><p class="fw-light">{{playlist.descr}}</p></div>
    
    </div>
  </div>
    <div> {% if current_user.id == playlist.creator.id %}
      <div class="d-flex w-100 pt-2 px-4"><a href="/playlists/{{playlist.playlist_id}}/edit" class=" text-warning " style="margin-left: auto;"><i class="fa-solid fa-pen-to-square"></i> edit playlist</a></div>
      <div class="d-flex w-100 pt-2 px-4">
        <form id="deleteForm" action="/playlists/{{playlist.playlist_id}}/delete" method="POST">
            <button type="submit" class="text-warning" style="background: none; border: none; margin-left: auto;">
                <i class="fa-solid fa-pen-to-square"></i> delete playlist
            </button>
        </form>
    </div>
      <!-- <div class="d-flex w-100 pt-2 px-4"><a href="/playlists/{{playlist.playlist_id}}/delete" class=" text-warning " style="margin-left: auto;"><i class="fa-solid fa-pen-to-square"></i> delete playlist</a></div> -->
      {% else %}
      {%endif %}</div>
    </div>
      
    </div>
    <div class="p-4">
        <div class="row text-uppercase" style="font-size: small; color: #818283;">
            <div class="col-1 text-center">#</div>
            <div class="col-4"> title</div>
            <div class="col-3">album</div>
            <div class="col-2 ">extra</div>
            <div class="col-2">duration</div>    
        </div>
      <hr class="my-1">
<div class=" overflow-y-auto overflow-x-hidden" style="height: 410px;">

    <!-- loop to show each track -->
{% for track in playlist.tracks %}

      <div class="row d-flex align-items-center ">
        <div class="col-1 d-flex flex-row">
          <div class="px-1"> 
            <audio  
            style="width: 50px; background-color: #ecd673; "
            controls >
            <source src={{track.audio_preview}} type="audio/mpeg">
          
          </audio> </div>
          <div>{{loop.index}}</div>
          </div>
        <div class="col-4 d-flex flex-row"><div class="px-4 "><img src="https://e-cdn-images.dzcdn.net/images/cover/{{track.md5_image}}/500x500-000000-80-0-0.jpg" style="height: 50px; width: 50px;"/></div><div><div class="fw-bold">{{track.title}}
          {% if track.is_explicit == True %}
          <p class="badge m-0 text-danger">E</p> 
         {% endif %}
        </div>
        <div class="flex flex-row fw-light"> 
          {{track.artist.name}}
         </div></div>
        </div>
        <div class="col-3">
          <div class="flex flex-row mx-0">{{track.album.title}}
           
          </div>
      </div>
        <div class="col-2 justify-items-center">
          <div class="d-flex flex-row ">
            {% if current_user.is_authenticated %}         
            {% set ids = likes|map(attribute="track_id") %}

            {% if track.track_id in ids %}
              <form method="post" action="/api/track/{{track.track_id}}/unlike">
                <button type="submit" class="btn text-warning"><i class="fa-solid fa-heart"></i></button>
              </form>

            {% else %}

            <form method="post" action="/api/track/{{track.track_id}}/like">
              <button type="submit" class="btn text-warning"><i class="fa-regular fa-heart"></i></button>
            </form>

            {% endif %}
{%else%}
{%endif%}

<div class="dropdown ">
  <button class="btn text-white bg-black" href="#" role="button" id="dropdownMenuLink"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa-solid fa-ellipsis-vertical"></i>
  </button>

  <div class="dropdown-menu bg-black " aria-labelledby="dropdownMenuLink">
   <p class="px-2 text-white">Add track to...</p> 
   {% for playlist in current_user.playlists%}
   <form method="post" action="/playlists/{{playlist.playlist_id}}/add/{{track.track_id}}">
    
    <button type="submit" 
    class="dropdown-item text-white" >{{playlist.title}}</button></form>
               
    {% endfor %}
   
  </div>
</div>      
           
        
           
        </div>
      </div>
        <div class="col-1 text-center"> {% set seconds = track.duration %}
          {% set minutes = seconds // 60 %} 
          {% set sec = seconds % 60 %}
      {{"%01d:%02d" % (minutes, sec)}}</div>  

      
      <div class="col-1">
        <div class="flex flex-row mx-5">
          <form method="post"
          action="/playlists/{{playlist.playlist_id}}/remove/{{track.track_id}}">
          <button
          type="submit"
          class="btn text-danger"><i class="fa-solid fa-trash"></i></button>
        </form>
        </div>
    </div>
        <hr class="w-100 mx-auto my-2">
      </div>

      {% endfor %}
    </div>
</div>
  </div>
</div>
</div>
{%endblock content%}
