<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song</title>
</head>
<body>
    <img src="https://e-cdn-images.dzcdn.net/images/cover/{{track.md5_image}}/500x500-000000-80-0-0.jpg" alt="temporary music picture"> <!-- image of the song -->
    <h1>Song: {{track.title}}</h1>
    <h3>Singers: 
        {% for artist in artists: %}
        {{artist.name}}<span>,</span>
        {% endfor %}
    </h3>
    <h3>Album: {{album}}</h3>
    <h3>Release Year: {{releaseDate}}</h3>
</body>
</html>