<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ track.title }}</title>
    <style>
        /* Add styles to make the image and title clickable */
        .clickable {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <!-- Clickable song image and title that when clicked, will play the song -->
    <div class="clickable" onclick="playAudio()">
        <img id="song-image" src="https://e-cdn-images.dzcdn.net/images/cover/{{ track.md5_image }}/500x500-000000-80-0-0.jpg" alt="Cover image of the song">
        <h1 id="song-title">{{ track.title }}</h1>
    </div>

    <h3>Singers: 
        {% for artist in artists %}
            {{ artist.name }}
            {% if not loop.last %}, {% endif %}
        {% endfor %}
    </h3>
    <h3>Album: {{ album }}</h3>
    <h3>Release Year: {{ releaseDate }}</h3>

    <!-- Hidden audio player -->
    <audio id="audio-player" controls>
        <source src="{{ track.preview }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <script>
        // Get the audio player element
        var audioPlayer = document.getElementById('audio-player');

        // Function to play or pause the audio
        function playAudio() {
            // Check if the audio is paused; if so, play it
            if (audioPlayer.paused) {
                audioPlayer.play();
            } else {
                audioPlayer.pause();
            }
        }

        // Optionally, control the audio player from other elements
        audioPlayer.onended = function() {
            // Action to take when audio ends; for example, reset to the beginning
            audioPlayer.currentTime = 0;
        };
    </script>
</body>
</html>
